@use '../../styles/shared-mixins/reset-text-field';
@use '../../styles/shared-mixins/typography';
@use '../../styles/builders/form-field-modes-builder';

.SearchInput {
  background-color: var(--background-accent-neutral-fade);
  border-radius: var(--size-border-radius-semantic-border-radius);
  position: relative;
  display: flex;
  align-items: center;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--states-background-hovered-neutral-fade);
    }
  }

  &:active {
    background-color: var(--states-background-pressed-neutral-fade);
  }
}

// [Parts] Body
.SearchInput__body {
  flex-grow: 1;
}

// [Parts] Search icon
.SearchInput__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  left: var(--spacing-size-xl);
  color: var(--icon-tertiary);
  margin-bottom: auto;
  width: 16px;
  height: 16px;
}

// [Parts] Clear button
.SearchInput__clearButton {
  display: flex;
  padding-left: var(--spacing-size-m);
  padding-right: var(--spacing-size-m);
}

// [Parts] Input
.SearchInput__input {
  @include reset-text-field.resetTextField;
  @include typography.bodyLarge;

  box-sizing: border-box;
  width: 100%;

  .SearchInput_platform_ios & {
    padding:
      var(--spacing-size-m)
      0
      var(--spacing-size-m)
      calc(var(--spacing-size-xl) + var(--spacing-size-m) + 16px);
  }

  .SearchInput_platform_android & {
    padding:
      var(--spacing-size-l)
      0
      var(--spacing-size-l)
      calc(var(--spacing-size-xl) + var(--spacing-size-m) + 16px);
  }
}
.SearchInput__input::placeholder {
  color: var(--text-secondary);
}
