@mixin iosSizes {
  // todo clean
  --height-caption-3: 12px;
  --height-caption-1: 14px;
  --height-caption-2: 14px;
  --height-footnote: 16px;
  --height-subhead: 18px;
  --height-headline-1: 20px;
  --height-headline-2: 20px;
  --height-paragraph: 20px;
  --height-text: 20px;
  --height-title-3: 22px;
  --height-title-2: 24px;
  --height-title-1: 28px;
  --height-accent-subaction: 16px;
  --height-accent-action-3: 18px;
  --height-accent-action-2: 20px;
  --height-accent-action-1: 22px;
  --height-accent-title-4: 22px;
  --height-accent-title-3: 24px;
  --height-accent-title-2: 26px;
  --height-accent-title-1: 28px;
  --height-accent-header-1: 32px;
  --letter-spacing-title-2: -0.44999998807907104px;
  --letter-spacing-title-3: -0.4300000071525574px;
  --letter-spacing-headline-1: -0.3100000023841858px;
  --letter-spacing-text: -0.3100000023841858px;
  --letter-spacing-headline-2: -0.23000000417232513px;
  --letter-spacing-paragraph: -0.23000000417232513px;
  --letter-spacing-subhead: -0.15000000596046448px;
  --letter-spacing-footnote: -0.07999999821186066px;
  --letter-spacing-caption-1: 0px;
  --letter-spacing-caption-2: 0.05999999865889549px;
  --letter-spacing-title-1: 0.07000000029802322px;
  --letter-spacing-caption-3: 0.17000000178813934px;
  --letter-spacing-accent-action-1: -0.4300000071525574px;
  --letter-spacing-accent-action-2: -0.3100000023841858px;
  --letter-spacing-accent-action-3: -0.15000000596046448px;
  --letter-spacing-accent-subaction: -0.07999999821186066px;
  --letter-spacing-accent-header-1: 0px;
  --letter-spacing-accent-title-1: 0px;
  --letter-spacing-accent-title-2: 0px;
  --letter-spacing-accent-title-3: 0px;
  --letter-spacing-accent-title-4: 0px;
  --size-caption-3: 10px;
  --size-caption-2: 11px;
  --size-caption-1: 12px;
  --size-footnote: 13px;
  --size-subhead: 14px;
  --size-headline-2: 15px;
  --size-paragraph: 15px;
  --size-headline-1: 16px;
  --size-text: 16px;
  --size-title-3: 17px;
  --size-title-2: 20px;
  --size-title-1: 24px;
  --size-accent-subaction: 13px;
  --size-accent-action-3: 14px;
  --size-accent-action-2: 16px;
  --size-accent-action-1: 17px;
  --size-accent-title-4: 17px;
  --size-accent-title-3: 19px;
  --size-accent-title-2: 21px;
  --size-accent-title-1: 23px;
  --size-accent-header-1: 28px;
  --platfrom-switch: iOS;
  --family-accent: SF Pro Display;
  --family-base: SF Pro Text;
  --weight-accent-600: SemiBold;
  --weight-base-400: Regular;
  --weight-base-500: Medium;
  --weight-base-600: Semibold;

  --size-base-platform-width-compact: 360px;
  --size-base-platform-width-normal: 412px;
  --size-border-radius-action-small: 10px;
  --size-border-radius-action-medium: 12px;
  --size-border-radius-action-large: 16px;
  --size-border-radius-semantic-border-radius: 10px;
  --size-border-radius-semantic-border-radius-paper: 12px;
  --size-border-radius-semantic-border-radius-floating: 14px;
  --size-border-radius-semantic-border-radius-card: 16px;
  --size-border-radius-semantic-border-radius-promo: 20px;
  --size-border-radius-semantic-border-radius-rounded: 48px;
  --size-padding-base-padding-vertical: 12px;
  --size-padding-base-padding-horizontal: 16px;
  --spacing-size2xs: 2px;
  --spacing-size-xs: 4px;
  --spacing-size-s: 6px;
  --spacing-size-m: 8px;
  --spacing-size-l: 10px;
  --spacing-size-xl: 12px;
  --spacing-size2xl: 16px;
  --spacing-size3xl: 20px;
  --spacing-size4xl: 24px;
}

@mixin androidSizes {
  --height-caption-3: 12px;
  --height-caption-1: 14px;
  --height-caption-2: 14px;
  --height-footnote: 16px;
  --height-subhead: 18px;
  --height-headline-1: 20px;
  --height-headline-2: 20px;
  --height-paragraph: 20px;
  --height-text: 20px;
  --height-title-3: 22px;
  --height-title-2: 24px;
  --height-title-1: 28px;
  --height-accent-subaction: 16px;
  --height-accent-action-3: 18px;
  --height-accent-action-2: 20px;
  --height-accent-action-1: 22px;
  --height-accent-title-4: 22px;
  --height-accent-title-3: 24px;
  --height-accent-title-2: 26px;
  --height-accent-title-1: 28px;
  --height-accent-header-1: 32px;
  --letter-spacing-paragraph: 0px;
  --letter-spacing-title-1: 0px;
  --letter-spacing-title-2: 0px;
  --letter-spacing-title-3: 0px;
  --letter-spacing-headline-1: 0.15000000596046448px;
  --letter-spacing-headline-2: 0.15000000596046448px;
  --letter-spacing-subhead: 0.15000000596046448px;
  --letter-spacing-text: 0.15000000596046448px;
  --letter-spacing-footnote: 0.20000000298023224px;
  --letter-spacing-caption-1: 0.30000001192092896px;
  --letter-spacing-caption-2: 0.30000001192092896px;
  --letter-spacing-caption-3: 0.30000001192092896px;
  --letter-spacing-accent-header-1: 0px;
  --letter-spacing-accent-title-1: 0px;
  --letter-spacing-accent-title-2: 0px;
  --letter-spacing-accent-title-3: 0px;
  --letter-spacing-accent-title-4: 0px;
  --letter-spacing-accent-action-1: 0.15000000596046448px;
  --letter-spacing-accent-action-2: 0.15000000596046448px;
  --letter-spacing-accent-action-3: 0.15000000596046448px;
  --letter-spacing-accent-subaction: 0.20000000298023224px;
  --size-caption-3: 10px;
  --size-caption-2: 11px;
  --size-caption-1: 12px;
  --size-footnote: 13px;
  --size-subhead: 14px;
  --size-headline-2: 15px;
  --size-paragraph: 15px;
  --size-headline-1: 16px;
  --size-text: 16px;
  --size-title-3: 17px;
  --size-title-2: 20px;
  --size-title-1: 24px;
  --size-accent-subaction: 13px;
  --size-accent-action-3: 14px;
  --size-accent-action-2: 16px;
  --size-accent-action-1: 17px;
  --size-accent-title-4: 17px;
  --size-accent-title-3: 19px;
  --size-accent-title-2: 21px;
  --size-accent-title-1: 23px;
  --size-accent-header-1: 28px;
  --platfrom-switch: Android;
  --family-accent: Roboto;
  --family-base: Roboto;
  --weight-accent-600: SemiBold;
  --weight-base-400: Regular;
  --weight-base-500: Medium;
  --weight-base-600: SemiBold;

  --size-base-platform-width-compact: 375px;
  --size-base-platform-width-normal: 393px;
  --size-border-radius-action-small: 10px;
  --size-border-radius-action-medium: 12px;
  --size-border-radius-action-large: 16px;
  --size-border-radius-semantic-border-radius: 10px;
  --size-border-radius-semantic-border-radius-paper: 12px;
  --size-border-radius-semantic-border-radius-floating: 14px;
  --size-border-radius-semantic-border-radius-card: 16px;
  --size-border-radius-semantic-border-radius-promo: 20px;
  --size-border-radius-semantic-border-radius-rounded: 48px;
  --size-padding-base-padding-vertical: 12px;
  --size-padding-base-padding-horizontal: 16px;
  --spacing-size2xs: 2px;
  --spacing-size-xs: 4px;
  --spacing-size-s: 6px;
  --spacing-size-m: 8px;
  --spacing-size-l: 10px;
  --spacing-size-xl: 12px;
  --spacing-size2xl: 16px;
  --spacing-size3xl: 20px;
  --spacing-size4xl: 24px;
}
