@mixin iosTypography {
  --height-label-small: 0.75rem;
  --height-label-large: 0.875rem;
  --height-label-medium: 0.875rem;
  --height-action-label: 1rem;
  --height-body-small: 1rem;
  --height-action-small: 1.125rem;
  --height-title-small: 1.125rem;
  --height-action-medium: 1.25rem;
  --height-body-large: 1.25rem;
  --height-body-medium: 1.25rem;
  --height-title-large: 1.25rem;
  --height-title-medium: 1.25rem;
  --height-action-large: 1.375rem;
  --height-headline-small: 1.375rem;
  --height-headline-medium: 1.5rem;
  --height-headline-large: 1.75rem;
  --height-display: 2rem;
  --height-accent-headline-xsmall: 1.375rem;
  --height-accent-headline-small: 1.5rem;
  --height-accent-headline-medium: 1.625rem;
  --height-accent-headline-large: 1.75rem;
  --letter-spacing-headline-medium: -0.0281rem;
  --letter-spacing-action-large: -0.0269rem;
  --letter-spacing-headline-small: -0.0269rem;
  --letter-spacing-action-medium: -0.0194rem;
  --letter-spacing-body-large: -0.0194rem;
  --letter-spacing-title-large: -0.0194rem;
  --letter-spacing-body-medium: -0.0144rem;
  --letter-spacing-title-medium: -0.0144rem;
  --letter-spacing-action-small: -0.0094rem;
  --letter-spacing-title-small: -0.0094rem;
  --letter-spacing-action-label: -0.005rem;
  --letter-spacing-body-small: -0.005rem;
  --letter-spacing-label-large: 0rem;
  --letter-spacing-label-medium: 0.0037rem;
  --letter-spacing-headline-large: 0.0044rem;
  --letter-spacing-label-small: 0.0075rem;
  --letter-spacing-display: 0.0237rem;
  --letter-spacing-accent-headline-large: 0rem;
  --letter-spacing-accent-headline-medium: 0rem;
  --letter-spacing-accent-headline-small: 0rem;
  --letter-spacing-accent-headline-xsmall: 0rem;
  --size-label-small: 0.625rem;
  --size-label-medium: 0.6875rem;
  --size-label-large: 0.75rem;
  --size-action-label: 0.8125rem;
  --size-body-small: 0.8125rem;
  --size-action-small: 0.875rem;
  --size-title-small: 0.875rem;
  --size-body-medium: 0.9375rem;
  --size-title-medium: 0.9375rem;
  --size-action-medium: 1rem;
  --size-body-large: 1rem;
  --size-title-large: 1rem;
  --size-action-large: 1.0625rem;
  --size-headline-small: 1.0625rem;
  --size-headline-medium: 1.25rem;
  --size-headline-large: 1.5rem;
  --size-display: 1.75rem;
  --size-accent-headline-xsmall: 1.0625rem;
  --size-accent-headline-small: 1.1875rem;
  --size-accent-headline-medium: 1.3125rem;
  --size-accent-headline-large: 1.4375rem;
  /* string */
  --family-accent: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif;
  --family-base: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif;
}

@mixin androidTypography {
  --height-label-small: 0.75rem;
  --height-label-large: 0.875rem;
  --height-label-medium: 0.875rem;
  --height-action-label: 1rem;
  --height-body-small: 1rem;
  --height-action-small: 1.125rem;
  --height-title-small: 1.125rem;
  --height-action-medium: 1.25rem;
  --height-body-large: 1.25rem;
  --height-body-medium: 1.25rem;
  --height-title-large: 1.25rem;
  --height-title-medium: 1.25rem;
  --height-action-large: 1.375rem;
  --height-headline-small: 1.375rem;
  --height-headline-medium: 1.5rem;
  --height-headline-large: 1.75rem;
  --height-display: 2rem;
  --height-accent-headline-xsmall: 1.375rem;
  --height-accent-headline-small: 1.5rem;
  --height-accent-headline-medium: 1.625rem;
  --height-accent-headline-large: 1.75rem;
  --letter-spacing-body-medium: 0rem;
  --letter-spacing-display: 0rem;
  --letter-spacing-headline-large: 0rem;
  --letter-spacing-headline-medium: 0rem;
  --letter-spacing-headline-small: 0rem;
  --letter-spacing-action-large: 0.0094rem;
  --letter-spacing-action-medium: 0.0094rem;
  --letter-spacing-action-small: 0.0094rem;
  --letter-spacing-body-large: 0.0094rem;
  --letter-spacing-title-large: 0.0094rem;
  --letter-spacing-title-medium: 0.0094rem;
  --letter-spacing-title-small: 0.0094rem;
  --letter-spacing-action-label: 0.0125rem;
  --letter-spacing-body-small: 0.0125rem;
  --letter-spacing-label-large: 0.0188rem;
  --letter-spacing-label-medium: 0.0188rem;
  --letter-spacing-label-small: 0.0188rem;
  --letter-spacing-accent-headline-large: 0rem;
  --letter-spacing-accent-headline-medium: 0rem;
  --letter-spacing-accent-headline-small: 0rem;
  --letter-spacing-accent-headline-xsmall: 0rem;
  --size-label-small: 0.625rem;
  --size-label-medium: 0.6875rem;
  --size-label-large: 0.75rem;
  --size-action-label: 0.8125rem;
  --size-body-small: 0.8125rem;
  --size-action-small: 0.875rem;
  --size-title-small: 0.875rem;
  --size-body-medium: 0.9375rem;
  --size-title-medium: 0.9375rem;
  --size-action-medium: 1rem;
  --size-body-large: 1rem;
  --size-title-large: 1rem;
  --size-action-large: 1.0625rem;
  --size-headline-small: 1.0625rem;
  --size-headline-medium: 1.25rem;
  --size-headline-large: 1.5rem;
  --size-display: 1.75rem;
  --size-accent-headline-xsmall: 1.0625rem;
  --size-accent-headline-small: 1.1875rem;
  --size-accent-headline-medium: 1.3125rem;
  --size-accent-headline-large: 1.4375rem;
  /* string */
  --family-accent: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif; // todo вынести общие переменные
  --family-base: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif;
}
