.Spinner {
  display: inline-flex;
  animation: rotation 1s infinite linear;
}

// [Properties] Appearances
.Spinner_appearance_primary {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-primary-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-primary-filled);
}
.Spinner_appearance_themed {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-themed-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-themed-filled);
}
.Spinner_appearance_primary-static {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-primary-static-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-primary-static-filled);
}
.Spinner_appearance_contrast {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-contrast-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-contrast-filled);
}
.Spinner_appearance_contrast-static {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-contrast-static-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-contrast-static-filled);
}
.Spinner_appearance_negative {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-negative-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-negative-filled);
}
.Spinner_appearance_neutral-themed {
  --MaxUi-Spinner_gradient-from: var(--gradients-loading-icon-neutral-themed-transparent);
  --MaxUi-Spinner_gradient-to: var(--gradients-loading-icon-neutral-themed-filled);
}

// [Parts] Spinner svg
.Spinner__spinner {
  background: conic-gradient(var(--MaxUi-Spinner_gradient-from) 15%, var(--MaxUi-Spinner_gradient-to) 100%);
  width: inherit;
  height: inherit;
}

// [Chore] Rotate animation
@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
